<div class="container">
  <div class="card">
    <button class="go-back" routerLink="/">
      <img src="assets/arrow_back.svg" /> Retourner à la liste de films
    </button>

    <div class="row self-end">
      <button class="primary-btn" *ngIf="film" [routerLink]="['/edit', film.id ]">Modifier ce film</button>
      <button class="secondary-btn" (click)="deleteFilm()" *ngIf="film">Supprimer ce film</button>
    </div>

    <div *ngIf="film">
      <div class="head">
        <h1>{{ film.title }}</h1> <app-rating [rating]="film.rating"></app-rating>
      </div>

      <div class="date">Sorti le {{ formatDate(film.releaseDate) }}</div>

      <div>{{ film.synopsis }}</div>
    </div>
  </div>
</div>
